<h2 *ngIf="data.trade.currencyPair.id<0" mat-dialog-title>
  {{ amountSold | number: '1.2-2' }} ÷
  {{ cgService.Market[-data.trade.currencyPair.id-1].ExchangeRate }} = 
  {{ currencySymbols[-data.trade.currencyPair.id-1] }}
  {{ amountSold/cgService.Market[-data.trade.currencyPair.id-1].ExchangeRate | number: '1.2-2' }}
</h2>
<h2 *ngIf="data.trade.currencyPair.id>0" mat-dialog-title>
  {{ currencySymbols[data.trade.currencyPair.id-1] }}
  {{ amountSold | number: '1.2-2' }} ×
  {{ cgService.Market[data.trade.currencyPair.id-1].ExchangeRate }} = 
  ${{ amountSold*cgService.Market[data.trade.currencyPair.id-1].ExchangeRate | number: '1.2-2' }}

</h2>
<div mat-dialog-content>
<mat-form-field appearance="fill">
    <mat-label>{{ data.trade.currencyPair.currencyPair | uppercase}}</mat-label>
    <input matInput [(ngModel)]="amountSold">
</mat-form-field>
</div>
<div mat-dialog-actions>
  <button class="btn btn-outline-success" mat-button [mat-dialog-close]="amountSold" cdkFocusInitial>Execute</button>
</div>
