<nav class="navbar navbar-expand-sm bg-dark static-top">
    <a class="navbar-brand" href="/login">
      <h1 class="display-4 text-white"><img src="/assets/foreign-exchange.svg" height="80">  {{ title }}</h1>
    </a>

    <!-- <div class="collapse navbar-collapse"></div>
    <div class="collapse navbar-collapse">

    <ul class="nav navbar-nav nav-pills">
    <li class="nav-item active">
      <h1 class="text-light mx-5">{{ cgService.Market[0].ExchangeRate }}</h1>
      <h1 class="text-light mx-5">EURUSD</h1>
    </li>

    <li class="nav-item">
    <h1 class="text-light display-1 mx-5">{{ cgService.Market[1].ExchangeRate }}</h1>
    <h1 class="text-light display-1 mx-5">GBPUSD</h1>
    </li>

    <li class="nav-item">
    <h1 class="text-light display-1 mx-5">{{ cgService.Market[2].ExchangeRate }}</h1>
    <h1 class="text-light display-1 mx-5">NZDUSD</h1>
    </li>
    </ul>
    
  </div> -->
</nav>
<flash-messages></flash-messages>
<router-outlet></router-outlet>
<app-quotechart></app-quotechart>

 